.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.preloader span {
  display: block;
  height: 10px;
  width: 10px;
  background: #ffed6d;
  margin: 0 4px;
  border-radius: 6px;
  animation: 1.2s upDown infinite;
}

.preloader span:first-child {
  animation-delay: 0.15s;
}

.preloader span:nth-child(2) {
  animation-delay: 0.3s;
}

.preloader span:nth-child(3) {
  animation-delay: 0.45s;
}

.preloader span:nth-child(4) {
  animation-delay: 0.6s;
}

.preloader span:last-child {
  animation-delay: 0.75s;
}

@keyframes upDown {
  0% {
    height: 10px;
    background: #ffed6d;
  }

  50% {
    height: 38px;
    background: #f2ad4e;
  }

  100% {
    height: 10px;
    background: #ff9500;
  }
}
